extends layout
block content

  // Header
  header.masthead.bg-primary.text-white.text-center
    .container
      img.img-fluid.mb-5.d-block.mx-auto(src='https://pbs.twimg.com/profile_images/1024129241963737088/7K9-Oukf_400x400.jpg', alt='', style="border-radius:50%;border: 15px solid white")
      h1.text-uppercase.mb-0 Rodrigo Nunes
      hr.star-light
      h2.font-weight-light.mb-0 Web Developer - Frontend & Backend - UX Programmer

  // Portfolio Grid Section
  section#portfolio.portfolio
    .container
      h2.text-center.text-uppercase.text-secondary.mb-0 Portfolio
      hr.star-dark.mb-5
      .row
        .col-md-6.col-lg-4
          a.portfolio-item.d-block.mx-auto(href='#portfolio-modal-1')
            .portfolio-item-caption.d-flex.position-absolute.h-100.w-100
              .portfolio-item-caption-content.my-auto.w-100.text-center.text-white
                i.fas.fa-search-plus.fa-3x
            img.img-fluid(src='img/portfolio/cabin.png', alt='')
        .col-md-6.col-lg-4
          a.portfolio-item.d-block.mx-auto(href='#portfolio-modal-2')
            .portfolio-item-caption.d-flex.position-absolute.h-100.w-100
              .portfolio-item-caption-content.my-auto.w-100.text-center.text-white
                i.fas.fa-search-plus.fa-3x
            img.img-fluid(src='img/portfolio/cake.png', alt='')
        .col-md-6.col-lg-4
          a.portfolio-item.d-block.mx-auto(href='#portfolio-modal-3')
            .portfolio-item-caption.d-flex.position-absolute.h-100.w-100
              .portfolio-item-caption-content.my-auto.w-100.text-center.text-white
                i.fas.fa-search-plus.fa-3x
            img.img-fluid(src='img/portfolio/circus.png', alt='')
        .col-md-6.col-lg-4
          a.portfolio-item.d-block.mx-auto(href='#portfolio-modal-4')
            .portfolio-item-caption.d-flex.position-absolute.h-100.w-100
              .portfolio-item-caption-content.my-auto.w-100.text-center.text-white
                i.fas.fa-search-plus.fa-3x
            img.img-fluid(src='img/portfolio/game.png', alt='')
        .col-md-6.col-lg-4
          a.portfolio-item.d-block.mx-auto(href='#portfolio-modal-5')
            .portfolio-item-caption.d-flex.position-absolute.h-100.w-100
              .portfolio-item-caption-content.my-auto.w-100.text-center.text-white
                i.fas.fa-search-plus.fa-3x
            img.img-fluid(src='img/portfolio/safe.png', alt='')
        .col-md-6.col-lg-4
          a.portfolio-item.d-block.mx-auto(href='#portfolio-modal-6')
            .portfolio-item-caption.d-flex.position-absolute.h-100.w-100
              .portfolio-item-caption-content.my-auto.w-100.text-center.text-white
                i.fas.fa-search-plus.fa-3x
            img.img-fluid(src='img/portfolio/submarine.png', alt='')

  .scroll-to-top.d-lg-none.position-fixed
    a.js-scroll-trigger.d-block.text-center.text-white.rounded(href="#page-top")
      i.fa.fa-chevron-up

  // Portfolio Modals
  // Portfolio Modal 1
  #portfolio-modal-1.portfolio-modal.mfp-hide
    .portfolio-modal-dialog.bg-white
      a.close-button.d-none.d-md-block.portfolio-modal-dismiss(href='#')
        i.fa.fa-3x.fa-times
      .container.text-center
        .row
          .col-lg-8.mx-auto
            h2.text-secondary.text-uppercase.mb-0 Project Name
            hr.star-dark.mb-5
            img.img-fluid.mb-5(src='img/portfolio/cabin.png', alt='')
            p.mb-5
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
            a.btn.btn-primary.btn-lg.rounded-pill.portfolio-modal-dismiss(href='#')
              i.fa.fa-close
              |               Close Project
  // Portfolio Modal 2
  #portfolio-modal-2.portfolio-modal.mfp-hide
    .portfolio-modal-dialog.bg-white
      a.close-button.d-none.d-md-block.portfolio-modal-dismiss(href='#')
        i.fa.fa-3x.fa-times
      .container.text-center
        .row
          .col-lg-8.mx-auto
            h2.text-secondary.text-uppercase.mb-0 Project Name
            hr.star-dark.mb-5
            img.img-fluid.mb-5(src='img/portfolio/cake.png', alt='')
            p.mb-5
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
            a.btn.btn-primary.btn-lg.rounded-pill.portfolio-modal-dismiss(href='#')
              i.fa.fa-close
              |               Close Project
  // Portfolio Modal 3
  #portfolio-modal-3.portfolio-modal.mfp-hide
    .portfolio-modal-dialog.bg-white
      a.close-button.d-none.d-md-block.portfolio-modal-dismiss(href='#')
        i.fa.fa-3x.fa-times
      .container.text-center
        .row
          .col-lg-8.mx-auto
            h2.text-secondary.text-uppercase.mb-0 Project Name
            hr.star-dark.mb-5
            img.img-fluid.mb-5(src='img/portfolio/circus.png', alt='')
            p.mb-5
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
            a.btn.btn-primary.btn-lg.rounded-pill.portfolio-modal-dismiss(href='#')
              i.fa.fa-close
              |               Close Project
  // Portfolio Modal 4
  #portfolio-modal-4.portfolio-modal.mfp-hide
    .portfolio-modal-dialog.bg-white
      a.close-button.d-none.d-md-block.portfolio-modal-dismiss(href='#')
        i.fa.fa-3x.fa-times
      .container.text-center
        .row
          .col-lg-8.mx-auto
            h2.text-secondary.text-uppercase.mb-0 Project Name
            hr.star-dark.mb-5
            img.img-fluid.mb-5(src='img/portfolio/game.png', alt='')
            p.mb-5
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
            a.btn.btn-primary.btn-lg.rounded-pill.portfolio-modal-dismiss(href='#')
              i.fa.fa-close
              |               Close Project
  // Portfolio Modal 5
  #portfolio-modal-5.portfolio-modal.mfp-hide
    .portfolio-modal-dialog.bg-white
      a.close-button.d-none.d-md-block.portfolio-modal-dismiss(href='#')
        i.fa.fa-3x.fa-times
      .container.text-center
        .row
          .col-lg-8.mx-auto
            h2.text-secondary.text-uppercase.mb-0 Project Name
            hr.star-dark.mb-5
            img.img-fluid.mb-5(src='img/portfolio/safe.png', alt='')
            p.mb-5
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
            a.btn.btn-primary.btn-lg.rounded-pill.portfolio-modal-dismiss(href='#')
              i.fa.fa-close
              |               Close Project
  // Portfolio Modal 6
  #portfolio-modal-6.portfolio-modal.mfp-hide
    .portfolio-modal-dialog.bg-white
      a.close-button.d-none.d-md-block.portfolio-modal-dismiss(href='#')
        i.fa.fa-3x.fa-times
      .container.text-center
        .row
          .col-lg-8.mx-auto
            h2.text-secondary.text-uppercase.mb-0 Project Name
            hr.star-dark.mb-5
            img.img-fluid.mb-5(src='img/portfolio/submarine.png', alt='')
            p.mb-5
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
            a.btn.btn-primary.btn-lg.rounded-pill.portfolio-modal-dismiss(href='#')
              i.fa.fa-close
              |               Close Project