doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title Freelancer - Start Bootstrap Theme
    // Bootstrap core CSS
    link(href='/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // Custom fonts for this template
    link(href='/vendor/fontawesome-free/css/all.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    // Plugin CSS
    link(href='/vendor/magnific-popup/magnific-popup.css', rel='stylesheet', type='text/css')
    // Custom styles for this template
    link(href='css/freelancer.min.css', rel='stylesheet')
  body#page-top
    // Navigation
    nav#mainNav.navbar.navbar-expand-lg.bg-secondary.fixed-top.text-uppercase
      .container
        a.navbar-brand.js-scroll-trigger(href='#page-top') Meu portfolio
        button.navbar-toggler.navbar-toggler-right.text-uppercase.bg-primary.text-white.rounded(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          | Menu
          i.fas.fa-bars
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item.mx-0.mx-lg-1
              a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='home') Home
            li.nav-item.mx-0.mx-lg-1
              a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='sobre') Sobre
            li.nav-item.mx-0.mx-lg-1
              a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='contato') Contato

            
    block content


    // Footer
    footer.footer.text-center
      .container
        .row
          .col-md-4.mb-5.mb-lg-0
            h4.text-uppercase.mb-4 Endereço
            p.lead.mb-0
              | Rua José Rosário, 1010
              br
              | Ribeirão Preto, SP - 14096-200
          .col-md-4.mb-5.mb-lg-0
            h4.text-uppercase.mb-4 Siga-me
            ul.list-inline.mb-0
              li.list-inline-item
                a.btn.btn-outline-light.btn-social.text-center.rounded-circle(href='https://www.facebook.com/rnsouzarp')
                  i.fab.fa-fw.fa-facebook-f
              li.list-inline-item
                a.btn.btn-outline-light.btn-social.text-center.rounded-circle(href='https://twitter.com/rnsouzarp')
                  i.fab.fa-fw.fa-twitter
              li.list-inline-item
                a.btn.btn-outline-light.btn-social.text-center.rounded-circle(href='https://www.linkedin.com/in/rnsouzarp')
                  i.fab.fa-fw.fa-linkedin-in
              li.list-inline-item
                a.btn.btn-outline-light.btn-social.text-center.rounded-circle(href='https://github.com/rodrigonunesrp')
                  i.fab.fa-fw.fa-github
          .col-md-4
            h4.text-uppercase.mb-4 Interessado?
            .row
              .col-md-6
                p.lead.mb-0
                  | Saiba mais sobre mim 
                  a(href='/sobre') aqui!
              .col-md-6
                p.lead.mb-0
                  | Entre em contato
                  br
                  a(href='/contato') agora!
    .copyright.py-4.text-center.text-white
      .container
        small Copyright © meuportfolio.com 2019
    // Scroll to Top Button (Only visible on small and extra-small screen sizes)
    .scroll-to-top.d-lg-none.position-fixed
      a.js-scroll-trigger.d-block.text-center.text-white.rounded(href='#page-top')
        i.fa.fa-chevron-up

    // Bootstrap core JavaScript
    script(src='vendor/jquery/jquery.min.js')
    script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
    // Plugin JavaScript
    script(src='vendor/jquery-easing/jquery.easing.min.js')
    script(src='vendor/magnific-popup/jquery.magnific-popup.min.js')
    // Contact Form JavaScript
    script(src='js/jqBootstrapValidation.js')
    script(src='js/contact_me.js')
    // Custom scripts for this template
    script(src='js/freelancer.min.js')
    script(src='js/monitoring-app.js')


      