extends layout
block content
  // About Section
  section#about.bg-primary.text-white.mb-0
    .container(style="padding-top: 80px;")
      h2.text-center.text-uppercase.text-white Sobre
      hr.star-light.mb-5
      .row
        .col-lg-4.ml-auto
          p.lead
            | Freelancer é um tema de bootstrap gratuito criado pelo Start Bootstrap. O download inclui os arquivos de origem completos, incluindo HTML, CSS e JavaScript, bem como folhas de estilo LESS opcionais para facilitar a personalização.
        .col-lg-4.mr-auto
          p.lead
            | Seja você um estudante olhando para mostrar seu trabalho, um profissional que procura atrair clientes ou um artista gráfico que deseja compartilhar seus projetos, este modelo é o ponto de partida perfeito!
